<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="css/hover.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="info">
        
        <h2 style="text-decoration:underline;">About Us</h2>
        
        <div id="infot">
        <div id = "topl">
    <h3>How It Works?</h3>
    <p>Our tool provides a comprehensive assessment based on the information you provide. Simply enter your personal details and recent blood pressure readings, if available. You'll receive an insighful analysis an dpractical advice to help you manage your health better.</p>
    
    <ol>
        <li>Enter your personal information including age, gender, and weight.</li>
        <li>Input your latest blood pressure readings if you have them.</li>
        <li>Answer questions about your lifestyle such as diet, exercise habits, and smoking status.</li>
        <li>Click "submit" to receive your results and recommendations.</li>
    </ol>
</div>
<div id="topm">

    <h3>How the Model Works?</h3>
    <p>Our prediction model uses the information you provide to estimate your blood pressure status and stage. It incorporates various factors, including your age, weight, and lifestyle choices, to generate an accurate prediction. Here how it works:

    </p>
    <ul>
        <li><b>Data Collection : </b>We collect data on personal factors like age, weight, and recent blood pressure readings, along with lifestyle information such as diet and physical activity.</li>
        <li><b>Assessment : </b>The model evalutes the data ageinst known benchmarks and criteria to estimate your blood pressure stage.</li>
        <li><b>Analysis :</b> It analyzes the input data to provide a detailed report on your blood pressure status, highlighting any areas of concern.</li>
        <li><b>Prediction :</b> Based on th eresults, the tool offers prediction of your current Hypertension stage.</li>
    </ul>
</div>
<div id="topr">

    <h3>Why Monitoring Blood Pressure is Essential?</h3>
    <p>Regular blood pressure monitoring helps in:</p>
    <ul>
        <li><b>Early Detection: </b>Identifying potential issues before they escalate.</li>
        <li><b>Effective Management: </b>Adjusting lifestyle and treatment plans as needed.</li>
        <li><b>Health Monitoring: </b>Tracking changes over time for better health outcomes.</li>


    </ul>

</div>
</div>
    <div id="infob">
<div id="bottoml">

    <h3>Features of Our Prediction Tool</h3>
    <ul>
        <li><b>User-Friemdly Interface: </b>Designed for ease of use without any technical knowledge required.</li>
        <li><b>Detailed Reports: </b>Clear and comprehensive reports on your blood pressure status.</li>
        <li><b>Actionable Insights: </b>Practical recommendations based on your results.</li>
    </ul>

</div>
<div id="bottomm">
    <h3>Tips for Maintaining Healthy Blood Pressure</h3>
    <ul>
        <li>Adopt a balanced diet rich in fruits, vegetables, and low in sodium.</li>
        <li>Limit alcohol consumption and avoid smoking.</li>
        <li>Regularly check your blood pressure and follow your healthcare provider's advice.</li>
    </ul>

</div>
<div id="bottomr">

    <h3>If your blood pressure is in Hypertensive Crisis Stage</h3>
    <p>Immediately call the Emergency number or contact us for Immediate assistance.</p>
    <div>
    </div>
</body>
</html>